img{ 
    display:block;
    margin :0 auto;
}

H2{
text-align: center;

}

h5{
    text-align: center;

}

h3{
    text-align: center;
    color: forestgreen;

}

h4{
    text-align: center;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

table{

    margin:auto;
}
 
body{
    background-color: img src="Logo Clean.png" height="100px" ;
}